<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravelApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78EA3C6A2564AC19008F1D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78EA3C7B2564AC1A008F1D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78EA3C862564AC1B008F1D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
